{% extends "layout.html" %}
{% load static %}

{% block title %}Main page{% endblock %}


{% block body %}
<input id="title" value="Ninjago 13 season 16 episode" class="title_of_movie" type="text" placeholder="Title of movie">
<input value="https://jk19ocmjeoyql3tj.ashdi.vip/content/stream/serials/ninjago_/s13/16_66402/hls/480/segment"
    id="link_input" class="url_for_movie" type="text" placeholder="Link for segments">
<input id="minutes" value="1" type="number" placeholder="Enter the minutes">

<button onclick="DownloadSegments()">Download segments</button>


<span id="progress"></span>
{% endblock %}